[2016-07-06 20:53] bsliran opened #1 "TODO: Implement usage example of new router"
Implement simple usage of the new angular 2 router (alpha 3.0).

[2016-07-06 20:56] bsliran opened #2 "TODO: Add testing example's"
Add testing examples for both client and server side

- [x] Tests framework + TypeScript
- [x] Mocha + Chai
- [x] Tests main file (initiliazer.test.ts)
- [x] Create Polyfills for angular2 framework base
- [x] DemoComponent tests (with Angular utils)
- [x] DemoDataService tests (with Meteor utils)
- [x] Server-side tests

[2016-07-06 20:59] bsliran opened #3 "TODO: Shrinkwrap all the dependencies"
Shrinkwrap all the dependencies
shrinkwrap docs: https://docs.npmjs.com/cli/shrinkwrap

[2016-07-06 21:00] bsliran opened #4 "TODO: PR the meteor create script"
once this repo is ready, PR the meteor create script with a link to this repo, so we can meteor create angular2

[2016-07-07 06:24] dotansimha opened #5 "TODO: File structure"
According to https://johnpapa.net/angular-2-styles/

[2016-07-07 06:24] dotansimha opened #6 "TODO: SCSS"

[2016-07-07 06:33] #5 closed

[2016-07-07 06:33] #6 closed

[2016-07-07 07:06] dotansimha opened #7 "TODO: Add README"

[2016-07-07 08:39] dotansimha commented on #2
Tests polyfills are here: https://github.com/dotansimha/angular2-meteor-tests-polyfills
We need them because Angular 2 assumes that when you create the tests providers, it also have `jasmine` global so I needed to create a polyfill that mocks this.

[2016-07-07 09:23] #2 closed

[2016-07-07 09:28] #3 closed

[2016-07-07 09:52] #7 closed

[2016-07-07 09:52] dotansimha commented on #1
We just need to add it as dependency, without example in the code.

[2016-07-07 10:20] kamilkisiela opened #9 "typo in repo's name"
angu**al**r2-meteor-base

[2016-07-07 10:20] dotansimha commented on #9
Yeah we will later move it to another repo under urigo/

[2016-07-07 10:20] #9 closed

[2016-07-07 10:21] kamilkisiela commented on #9
Oh :) Okay

[2016-07-07 10:28] Urigo opened #10 "Update to the new angular2-compilers"
Once it will move from `angular2-html-templates` to `urigo:static-html` by @barbatus

[2016-07-07 10:28] Urigo opened #11 "Update to the new CSS compiler"
Once it will be ready by @barbatus

[2016-07-07 12:46] trajano opened #12 "typings should be ignored"
the 'typings' folder should be ignored and instead be put into package.json as a post-"install" script.  The contents of the typings folder is generated from the typings.json.

https://github.com/trajano/meteor-boilerplate/blob/angular2/package.json

shows how I did it on my boilerplate.

[2016-07-08 13:52] #1 closed

[2016-07-25 15:20] kamilkisiela commented on #4
Can be closed since meteor/meteor#7363 has been merged.

[2016-07-25 15:20] kamilkisiela opened #14 "TypeScript compiles files on every save"
Should be fixed by `compileOnSave: false`

[2016-07-25 17:53] #14 closed

[2016-07-25 17:53] #10 closed

[2016-07-25 17:53] #11 closed

[2016-07-25 17:53] #4 closed

[2016-07-25 17:55] Urigo opened #17 "Update to Typescript 2.0 (not yet, just a reminder)"

[2016-07-26 10:10] ijager opened #20 "Typescript tries to load html-templates as modules"
When running this project freshly cloned in Meteor 1.4 I get these messages on the command line:

[code]

Also the typescript compiler of VSCode says `Cannot find module './demo.component.html'`

The project does work, but the compiler expects a module instead of a template?

[2016-07-26 10:33] kamilkisiela commented on #20
It's a known issue:
- Urigo/meteor-static-templates#9
- Urigo/angular2-meteor#352

Since a component doesn't exist without its template, in our opinion it is the best approach to import the content.
This is why we created [`urigo:static-templates`](https://github.com/Urigo/meteor-static-templates).

`angular2-compilers` is based on the same compiler as the `urigo:static-templates`.

As I said in t

[2016-07-26 14:46] ijager commented on #20
Thanks for the IDE workaround. I'll wait for TS2.0 then :)

[2016-07-27 19:52] kamilkisiela commented on #20
@ijager Should be fixed with #22 :+1:

[2016-07-28 07:59] ijager commented on #20
It works now. Thanks

[2016-07-28 07:59] #20 closed

[2016-07-28 14:12] #17 closed

[2016-07-28 19:12] DerekTBrown opened #23 "Package Version Updates"
The point of a boilerplate is to provide a minimal installation.  This example provides a lot of extraneous code:

- [x] [Remove JQuery](https://github.com/bsliran/angular2-meteor-base/blob/master/.meteor/packages#L11)
What is the point of using Angular2 if you are going to include JQuery?

- [x] [Set Version for Angular2 Compilers](https://github.com/bsliran/angular2-meteor-base/blob/master/.mete

[2016-08-05 15:33] angeloklin opened #24 "Cucumber / Features / Specs"
Hello,
  Thanks for putting the code together. Helps a lot.
  But as you would imagine, there is always something not quite right for every single use people might find.
  I wonder if you could add some extras as to allow specs to be run by chimp on /tests/features or /features.
  If it is not in short list, could you just give some hints on how I could do it myself. (Thanks)
  More specifically,

[2016-08-08 12:10] hayk94 opened #25 "Error: There is already a collection named "parties""
Hello guys I am following this tutorial. Everything was working fine for me till step 4.10. Now my app is not being built because of the error  Error: There is already a collection named "parties" . As I did some search I tried adding
[code]

But that doesn't fix the problem. Please help.

[2016-08-11 19:56] Jitra opened #26 "{}/node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss not found in file"
Tried to bootstrap app from boilerplate
When installing package and trying to import it's styles get the error

`While processing files with angular2-compilers (for target web.browser):
   /client/main.scss: Scss compiler error: File to import:
   {}/node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss not
   found in file: /home/skellige/ng2/snake/{}/client/main.scss`

Tried also on

[2016-08-12 08:37] wtfuii opened #27 "Boilerplate not working with RC5"
If I'm bumping the Angular 2 depencies to RC5 and run `npm update`, the boilerplate throws a JS error in the browser after starting it with `meteor run`. The boilerplate should be compatible with the current version of Angular 2.

[2016-08-12 16:56] bsliran commented on #25
hi, @hayk94, does the problem consists?
I just followed the tutorial by myself and everything seems to work fine.
can you give more details on the error?

[2016-08-12 18:33] bsliran commented on #26
hi @Jitra
I had problem importing both of the files,
can you check if the files actually exists inside the node modules in the correct path?

[2016-08-13 14:40] mmwo commented on #26
Today I tried to clone your repository again, and downloaded both bootstrap and accounts UI packages and it works. I just had to restart meteor to import files

[2016-08-13 14:40] #26 closed

[2016-08-14 15:45] ValentinFunk commented on #27
Just ran into the same thing, this is what happens: https://github.com/Urigo/angular2-meteor-auto-bootstrap/issues/22

[2016-08-19 00:38] dschnelldavis commented on #25
I had the same problem, but finally found a solution, here:

http://stackoverflow.com/questions/37435358/a-method-named-parties-insert-is-already-defined-angular-meteor-tutorials/39029457#39029457

[2016-08-26 12:37] QbyteFennek opened #28 "httpProxy.createProxyServer is not a function"
I installed meteor and restarted pc. Meteor appears to be working.

At this point I get the following error:

[code]

What do?

[2016-08-26 12:42] #28 closed

[2016-08-28 20:12] brackio commented on #27
Are there plans to update this boilerplate to angular RC5?

[2016-09-07 02:48] hfournier opened #29 "Template not found"
I've got the base setup as Visual Studio project under Windows 10. No errors generated when running meteor, but going to http://localhost:3000/ just shows "Loading...". After looking at the code in VS, I found that in app.component.ts, the following line:
import template from './app.component.html';
appears with a red-squiggle under the string and hovering over it shows: "Cannot find module", whic

[2016-09-21 01:31] derek-fong commented on #29
@hfournier make sure your meteor package `angular-compilers` is up-to-date (Currently @ `0.6.1`) and install the typings

See angular2-meteor's [Static Resources](https://github.com/Urigo/angular2-meteor#static-resources).

[2016-09-21 14:45] #12 closed

[2016-09-21 14:45] #27 closed

[2016-09-22 08:20] #25 closed

[2016-09-22 13:57] xiaofeihe opened #31 "Step 0 - Bootstrapping ,meteor is err"
Step 0 - Bootstrapping

 $ meteor npm install        ok:
$ meteor
=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

   While loading package barbatus:scss-compiler@3.8.1_1:
   error: Command failed: /home/sen/.meteor/packages/meteor-tool/.1.4.1_1.lcsnvf++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/bin/npm rebuild --no-bin-links --update-binary
   { [Erro

[2016-09-22 16:49] Tbutnyakov opened #32 "Error while checking for angular2-compilers@0.6.1:"
Hey!
I cloned this rep, and "meteor npm install" showed me error with 'typings i' installation.
"**npm install -g typings**" solves this problem

But "**meteor**" - command display this error.

[code]

[2016-09-22 21:38] hfournier commented on #32
I believe that should be angular2-meteor@0.6.2 instead.

[2016-09-22 22:01] hfournier commented on #29
Thanks @derek-fong . I deleted the whole thing and started over and got the app running now and I'm no longer stuck on the Loading page. However, I'm still getting the red squiggles in VS.

I don't see an angular-compilers, but I'm guessing you meant angular2-compilers? Mine is currently 0.6.0, so I executed:
`meteor update angular2-compilers`
and got:
_While checking for angular2-compilers@0.6.1:

[2016-09-23 00:50] derek-fong commented on #29
Sorry about the typo it was `angular2-compilers`. :(

If your development machine is a Windows platform then you might want to read this https://github.com/Urigo/angular2-meteor/issues/372

Looks like currently there are some issues with the latest `angular2-compilers@0.6.1` with Windows platforms and the workaround is to use `0.6.0` by running

until the angular2-meteor team has solve this proble

[2016-09-23 00:56] derek-fong commented on #31
According to the error message

Can you please verify your folder permissions?

[2016-09-23 02:10] xiaofeihe commented on #31
$ sudo  chown -R sen:sen ~/.meteor

on app files
$ sudo   meteor

`
sen@senpc:~/dev/lvapp$ sudo  chown -R sen:sen *
[sudo] sen 的密码：
sen@senpc:~/dev/lvapp$ meteor
[[[[[ ~/dev/lvapp ]]]]]

=> Started proxy.
/home/sen/.meteor/packages/meteor-tool/.1.4.1_1.139xb76++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/lib/node_modules/meteor-promise/promise_server.js:165
      throw er

[2016-09-23 02:27] derek-fong commented on #32
@Tbutnyakov https://github.com/Urigo/angular2-meteor/issues/383

[2016-09-23 02:37] hfournier commented on #29
`meteor install barbatus:typescript@0.4.0 'install' is not a Meteor command.`

[2016-09-23 02:47] hfournier commented on #29
OK, thanks, that worked, but didn't help with VS issue.

Also got this notification:
`Update available 1.3.3 → 1.4.0
 Run npm i -g typings to update`
Do I want to update or stick with current version?

[2016-09-23 03:01] derek-fong commented on #29
@hfournier that's a prompt for updating typings

For the VS issue I am not sure why it did not work - i am using other IDEs and the steps I mentioned above worked for me.

[2016-09-23 07:35] Tbutnyakov commented on #32
@derek-fong thanks a lot!

[2016-09-23 07:35] #32 closed

[2016-09-26 02:49] bsliran commented on #31
Hey, can you go ahead and ls -la inside the project folder?
another thing we could try to test, you could try and create the folder manually and see if you encounter the same permission problems

[2016-09-27 13:25] Devidian opened #34 "scss main file should be in /client"
Hi, just started a project 2 weeks ago with this base code (wasn't working with meteor for 6+ months) and just updated to the current TS2 version. I want to mention that the scss file

**angular2-meteor-base/client/imports/app/app.component.scss**

should be in **angular2-meteor-base/client/** as it was before or imported there in a main.scss file.

[2016-09-27 15:04] werber opened #35 "Running on mobile (android) get "EXCEPTION: The selector "app" did not match any elements""
Didn't change anything from initial setup. Just did
`git clone https://github.com/bsliran/angular2-meteor-base ang-2-test`
then
`npm i`
then
`meteor add-platform android`
and after that
`meteor run android`

And get output:

[2016-09-28 04:16] mahesh0431 opened #36 "Uncaught reflect-metadata shim is required when using class decorators"
Hi All,

I am trying to follow the steps from https://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping  but facing few issues, initially i got the compiler issue, which i resolved from this thread https://github.com/derek-fong/angular2-meteor-boilerplate/issues/3#issuecomment-249904888.

Now i am getting another issue when i started the app using meteor command. Then in the browser

[2016-09-28 04:28] mahesh0431 commented on #36
One more thing i have observed is that in the visual code editor, it is showing error at import statement as shown below
![image](https://cloud.githubusercontent.com/assets/6804552/18900713/02e19aca-8562-11e6-87a5-a485eb181a2a.png)

usually it shouldnt show any error as the path i have given is a correct one. Dont know if this is linked to the above issue.

[2016-09-28 05:22] derek-fong commented on #36
@mahesh0431 try `meteor add barbatus:angular2-polyfills`to fix your "Uncaught reflect-metadata" issue.

For for VS editor issue I am not sure how to fix that (I am using other IDEs) but I think your app should still run although it is showing this error.

[2016-09-28 05:59] mahesh0431 commented on #36
@derek-fong i've tried that and the issue is resolved but another issue is coming as shown below:

**Uncaught TypeError: Cannot read property 'bootstrap' of undefined
bootstrap   @   bootstrap.js:9
meteorInstall.client.main.js    @   main.ts:4
fileEvaluate    @   install.js:153
require @   install.js:82
(anonymous function)    @   main.ts:4**

in the bootstrap js file, at the line below, the Meteo

[2016-09-28 06:14] derek-fong commented on #36
@mahesh0431 The [Angular2-meteor tutorial](https://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping) is not up-to-date at the moment. `angular2-meteor-auto-bootstrap` is no longer required since `angular2 RC5`.

Apart from that, there are also quite a few breaking changes (e.g. `NgModule`) since  `angular2 RC5` which unfortunately the tutorial has not been updated to reflect these

[2016-09-28 06:18] mahesh0431 commented on #36
Thanks @derek-fong , i guess the tutorial works with the older versions of angular2, i will wait till it gets update, meanwhile i will explore other things....

Thanks again @derek-fong for helping

Regards,
Mahesh

[2016-09-28 07:22] #36 closed

[2016-09-28 09:03] dotansimha commented on #35
Yeah that's right... that's a bug. fixed in #37, will be merged soon.

[2016-09-28 09:03] #35 closed

[2016-10-05 20:39] ernestomr87 opened #39 "I always get this and not that I can do. I work on Windows 10 64bit"
E:\Projects\LearnMeteor\socially>meteor
[[[[[ ~\E\Projects\LearnMeteor\socially ]]]]]

=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

   While checking for angular2-compilers@0.6.1:
   error: No compatible binary build found for this package. Contact the package author and ask them to publish it
   for your platform.

=> Your application has errors. Waiting for file change.

[2016-10-06 17:16] kamilkisiela commented on #39
Try to open an issue [here](https://github.com/Urigo/angular-meteor/issues/new) :)

[2016-10-06 19:34] #39 closed

[2016-10-12 06:29] zh-wowtv opened #40 "Syntax error for test in VS Code"
![img_7664](https://cloud.githubusercontent.com/assets/18462946/19299632/2607d614-9088-11e6-829a-00eed3b86fe6.jpg)

Any idea? Thanks

[2016-10-13 13:38] rgal75 opened #41 "Client-side tests are not running"
Having run the tests using `meteor npm test` the server-side tests run OK but the client-side tests fail to run reporting "`TypeError: Reflect.getMetadata is not a function`".

I added `barbatus:angular2-polyfills` to the project, which resolves this issue but then I get
[code]
in `demo-data.service.test.ts`

[2016-10-15 09:51] dotansimha commented on #40
Which plugins do you use in VSCode?
VSCode has a lot of imports scanner and dependencies resolvers...
Also, this might not relate directly to the Angular2-meteor boilerplate package, have you tried other Angular 2 projects with you current VSCode configuration?

Please reopen if this issue is specific for our boilerplate.

Thanks

[2016-10-15 09:51] #40 closed

[2016-10-15 10:02] dotansimha commented on #31
Please try again now, I also had some issues with the Meteor version we had here, and now it updated to the latest, which looks fine.
Can you try?

Please reopen if you still have issues.

[2016-10-15 10:02] #31 closed

[2016-10-15 10:08] dotansimha commented on #23
The angular2-compilers issues fixed in 0.6.1.

[2016-10-15 10:08] dotansimha commented on #23
Removed jQuery and everything seems fine.

[2016-10-15 10:18] dotansimha commented on #34
This is a tricky issue, for a few reasons:
- `client/main.scss` should exists and contain the main styles and aren't related to any Angular 2 Component (such as styles for body, html, etc). This file was missing and added now.
- Each @Component should have his own style file, and it should be imported to the Component source file (`.ts`) and then loaded into the Component with `styles` or `styleUr

[2016-10-15 10:18] #34 closed

[2016-10-15 10:21] dotansimha commented on #29
Please update to latest TypeScript (> 2) and try again, it should solve the template issue.

[2016-10-15 10:21] #29 closed

[2016-10-15 10:22] dotansimha commented on #24
Hi @angeloklin , thanks for your notes regarding this boilerplate.
It sounds like you have a good experience with BDD with Cucumber/Chai, and it would be great if you could share you experience with us in a Pull Request.

[2016-10-15 10:27] dotansimha commented on #23
@DerekTBrown thanks for helping!
I fixed 2 of 3 you mentioned, but note that the Mocha issue does not have any solution.
Mocha is not part of Angular2-Meteor, that's correct, and that's why Mocha isn't a dependency of Angular2-Meteor. We use Mocha in this boilerplate to provide an easy example for client side tests of Angular2-Meteor applications.

Please re-open if you have another idea regarding

[2016-10-15 10:27] #23 closed

[2016-10-15 11:59] dotansimha commented on #41
Fixed!

Thanks @rgal75

[2016-10-15 11:59] #41 closed

[2016-10-20 14:25] metalik opened #42 "Build Failed"
Below is the build error logs:

[code]

[2016-10-21 03:48] metalik commented on #42
The issue should be related to angular2-meteor.

#https://github.com/Urigo/angular2-meteor/issues/427

[2016-10-21 03:48] #42 closed

[2016-10-24 14:51] ppoliani opened #43 "Unable to load sass file"
I have created a new component (`HomeComponent`) and try to inject the local `scss` file.

    import template from './home.component.html';
    import style from './home.component.scss';

    @Component({
      selector: 'home',
      template,
      styles: [style]
    })

However a get the following error.

    Uncaught Error: Expected 'styles' to be an array of strings.

It seems that the `scs

[2016-10-24 17:54] ppoliani commented on #43
I ended up doing the following hack to make it work

[code]

It is quite weird because I cannot reproduce it when I take a fresh clone of this repo.

[2016-10-25 08:47] dotansimha commented on #43
That's one option, but please try now with the latest version of the boilerplate - I fixed the dependencies issue and it should solve your SCSS as well.

Please re-open if it still causing problems!

[2016-10-25 08:47] #43 closed

[2016-10-25 14:26] ppoliani commented on #43
Thank you @dotansimha. Could you please tell which deps need to be updated. I am already using the the previous boilerplate and I can't start from scratch using the latest version. Is it easy to bring my current version to the state of the latest boilerplate?

[2016-10-27 01:36] jkdowdle opened #44 "Quick start broken?"
I am having trouble getting this git repository to work.

I first ran `git clone https://github.com/bsliran/angular2-meteor-base test3`

Then `meteor`

Then it gives me this error

[code]
When I run the commands it suggests it dose not solve anything.

Any help would be appreciated, thank you.

[2016-10-27 20:45] nebiljabari commented on #44
Sound like a classic missing npm packages

Have you opted for this procedure ? :

[code]

if it don't succeed try for n°3 : `npm i`

[2016-10-27 20:54] jkdowdle commented on #44
@nebiljabari

Thank you so much for responding. I do appreciate it. ok so I am a little confused, when I run

`meteor create --example angular2-boilerplate test5`

Should it just create a project downloading the git repo?

When I run that command I get the following message

[code]

Does it matter than I am using Windows 10?
NPM version - 3.10.7
git version 2.10.0.windows.1
Meteor 1.4.2

[2016-10-27 21:11] jkdowdle commented on #44
@nebiljabari

I tried your second solution running npm i and it started the app with out problems. Thank you very much, it is a huge relief. I am still wondering why the first solution didn't work and would love to know, but again thanks a ton.

[2016-10-27 21:34] nebiljabari commented on #44
With pleasure @jkdowdle, I think here we all know what it feel to be alone with an error ;-)

Im on Mac so I don't know precisely "why" it happened on Windows.
But if you want to know about the difference between `meteor npm i`and `npm i` some info : [here](https://forums.meteor.com/t/what-if-i-dont-put-meteor-in-front-of-npm-install/30680/5)

I think we can close this issue

[2016-10-27 21:36] jkdowdle commented on #44
Ok great I will check that out!

Thank you!

[2016-10-27 21:36] #44 closed

[2016-10-31 13:43] jalalat opened #45 "error while importing chai-spies"
I got the following error: [ts] Module ''chai-spies'' resolves to a non-module entity and cannot be imported using this construct.

chai.spy() - [ts] Property 'spy' does not exist on type 'ChaiStatic'.

Please help. Thanks.

[2016-11-02 14:11] dotansimha commented on #45
@jalalat is that just a warning from the TypeScript compiler, or something actually don't work?

[2016-11-02 14:11] #24 closed

[2016-11-02 16:16] jalalat commented on #45
Hi @dotansimha I found out next day that it is compiling and working fine. So definitely an issue with typings. I installed everything correctly. I am able to proceed but it bothers me to see lot of TypeScript errors in my testing scripts.

i resolved the first error using:
import chai = require('chai');
import spies = require('chai-spies');

Second and many others similar TS errors I am not able

[2016-11-02 18:27] dotansimha commented on #45
@jalalat usually it's just typings issue.
do you use the latest version of the boilerplate?

Also, which IDE do you use?

[2016-11-03 11:11] jalalat commented on #45
Hi @dotansimha there are more typing errors with new version of boilerplate with describe, beforeEach, it etc. My initial thoughts were may be these errors are there due to not importing @types in typings.d.ts so i inserted these 2 lines in typings.d.ts:

[code]

Still getting all errors related to describe, beforeEach, it etc. I noticed another Typings error with latest boilerplate. If you go dee

[2016-11-03 11:51] jalalat commented on #45
My project files are as below (not based on latest boilerplate):

typings.json

[code]

index.d.ts:

[code]

package.json:

[code]

[2016-11-06 09:05] lednhatkhanh opened #46 "Angular Material needs @angular/http"
Please add @angular/http to the packages.json file

[2016-11-06 10:10] dotansimha commented on #46
@lednhatkhanh Angular-Material is not part of this boilerplate... if you want to use Material, please add also `@angular/http`.

[2016-11-06 10:10] #46 closed

[2016-11-07 15:11] dotansimha commented on #45
@jalalat I fixed all types issues in https://github.com/Urigo/angular2-meteor-base/commit/f3eded9808e87217169f70be7b436e2d67a5992c and https://github.com/Urigo/angular2-meteor-base/commit/5d22b3d7bd0ecaad79f797f5091847da9e0bff16

[2016-11-07 15:11] #45 closed

[2016-11-08 22:06] jalalat commented on #45
Still the same errors. Sorry @dotansimha .

[2016-11-09 05:24] dotansimha commented on #45
@jalalat , do you use the latest boilerplate, and then run `npm install`, and `npm run test` in order to run Chai?

[2016-11-09 12:54] jalalat commented on #45
@dotansimha yes same steps. As you know these are not code errors rather Typings errors in code editors (Visual studio code and Sublime Text).

I will try a new laptop in the evening and will let you know.

[2016-11-09 17:56] dotansimha commented on #45
With latest WebStorm - everything works great and detected correctly, without any lint errors.

[2016-11-09 23:03] jalalat commented on #45
you are right. It works on WebStorm. I got a wonderful opportunity to try various different editors like Sublime, Visual code, Atom and now WebStorm :)

[2016-11-09 23:06] jalalat commented on #45
However i could not make all chai-spies methods to work in this boilerplate like:
var array = [ 1, 2, 3 ];
chai.spy.on(array, 'push');

[2016-11-10 05:45] dotansimha commented on #45
Can you share the full code you are trying to run with the Spy? maybe I missed some methods in the Typings.

[2016-11-10 12:03] jalalat commented on #45
Hi @dotansimha, thanks a lot for your help. Very much appreciate your time. I was just trying chai-spies before i could start using it in my code fully. I was testing the examples provided here: https://github.com/chaijs/chai-spies

[2016-11-11 10:29] dotansimha commented on #45
@jalalat  please refer to `typings.d.ts` file and check it all the methods that you use on the spy object are defined there.

[2016-11-14 22:47] hakikihacioglu opened #48 "Which module loader ... webpack, systemjs?"
Hi,

I don't see any module loader like webpack or systemjs in the folders. Are you using another one, or am I missing something. I need a module loader for my project, How can I integrate webpack for example into this base-project?

Thank you

[2016-11-17 07:49] remyacv83 commented on #26
@Urigo , same error
here is the project url:
https://github.com/remyacv83/angular2-meteor-sample

[2016-11-19 15:39] laserus opened #49 "scss component files in this demo do not affect anything"
Hello,

I just git clone this repo and tried three things:
1. Change **main.scss** to:
[code]
=> **works fine**
2. Change **app.component.scss** to:
[code]
=> **no result**
3. Changed **demo.component.scss** to:
[code]
=> **again, no result**

What is the problem?

[2016-11-20 18:16] anstarovoyt opened #50 "tsconfig.json doesn't include src files"
Hi. This commit https://github.com/Urigo/angular2-meteor-base/commit/ccb5346e7b96361e868f6ae80144c29fdfc39420#diff-e5e546dd2eb0351f813d63d1b39dbc48 added the files section:
files:[ "typings.d.ts"]

and now tsconfig.json doesn't include all other project files.

[2016-11-21 11:03] ijager commented on #49
@laserus I think this is because you shouldn't put the styles in `app { }` or `demo {}` brackets, as the styles are encapsulated within the component (in the component template there are no `<app>` or `<demo>` tags, those are in the parent component).

If you want styles to work like this you should set `encapsulation: ViewEncapsulation.None` in your component, but that is probably not what you wa

[2016-11-21 14:26] laserus commented on #49
@ijager Yes, I guessed that also, but as they present in this demo repo, I thought there still could be some meaning for them.

Then another question:

If I wat to make demo.component background all red what should I do in the file, except polluting with classes? I cannot write to demo.component.scss this:
[code]
I need some selector...
[code]

Is there a good solution? or only class way is the be

[2016-11-22 13:44] ijager commented on #50
Yes there's something strange with this section.

For me it works fine in Meteor, but to satisfy VSCode I have to add at least one typescript file per directory to this `files` array.

If I do not do that VSCode does not recognize imports and ExperimentalDecorators etc in files in that directory.

 I am even using the same typescript compiler from the Angular2-Compilers Meteor package..

[2016-11-22 13:48] ijager commented on #49
Hi @laserus ,

I think the simplest solution is indeed to wrap your component in a div with a `.demo` class for example. It feels redundant to me too.

The only workarounds I see are to define the `demo {}` css in the parent component or in some global style sheet. But then the component is not self-containing..

[2016-11-23 08:55] laserus commented on #49
Ok, understood. Thanks!

[2016-11-23 08:55] #49 closed

[2016-11-29 10:49] ijager commented on #49
I found a better solution [here](http://stackoverflow.com/questions/32853924/angular-2-how-to-style-host-element-of-the-component)

You should be able to use `:host`

[code]

[2016-12-02 22:42] kildareflare opened #51 "Meteor CLI does not work in project directory"
I'm trying to follow this tutorial for building a whatsapp clone https://angular-meteor.com/tutorials/whatsapp2/meteor/setup.

I had some issues with meteor command not being recognised in bash; but have [resolved ](http://stackoverflow.com/questions/29111648/meteor-command-not-found)those.

However I am now stuck as the meteor command does not appear to work within the whatsapp project directory.

[2016-12-12 18:49] dotansimha commented on #51
Might not relate directly to this boilerplate.
@kildareflare , please try with the latest version of this boilerplate, after updating Meteor to the latest version.

[2016-12-12 18:50] dotansimha commented on #50
I think that might be because of the typescript compiler that appends the files to the TypeScript compiler after Meteor done mapping the files that needs compilation.
Can you try to add your files under `files` or `filesGlob` and then test again?

[2016-12-12 18:51] dotansimha commented on #48
Hi @hakikihacioglu ,
Meteor base projects does not contain a "traditional" bundler such as Webpack.
However, Meteor has it's own implementation for CommonJS as modules loader, and uses it's own bundler and builder to build the project.

[2016-12-12 18:51] #48 closed

[2016-12-12 20:35] Urigo commented on #26
@remyacv83 can you try a fresh clone with the updated repo?

[2016-12-23 18:11] Jakino opened #54 "2 errors on typings.d.ts with Atom and atom-typescript"
ide:  ATOM 1.12.7
Package: atom-typescript 10.1.13
Os : ubuntu 16.10

file:  angular2-meteor-base/typings.d.ts

**line 3**  `/// <reference types="@types/underscore" />`
**error**:  Cannot find type definition file for '@types/underscore'

**line 36** `stub(collection: Mongo.Collection);`
**error**: Generic type 'Collection<T>' requires 1 type argument(s)

my tsconfig.json

{
  "atom": {
    "rewr

[2016-12-24 08:12] dotansimha commented on #54
Fixed in the recent commit. please try with a clean copy of the repository, and make sure to reinstall node_modules.

[2016-12-24 08:12] #54 closed

[2016-12-24 10:03] lednhatkhanh opened #55 "Suitable tslint config"
This boilerplate doesn't have tslint config, it would be good if people can get a correct tslint configuration.

[2016-12-24 10:39] Jakino commented on #54
Ok it's fixed only one error  with the last commit.
I've deleted old folder and reinstaller with a new fresh git cloned repository for testing.
Now i get 2 other error messages:

**line 3** `/// <reference types="@types/underscore" />`
**error**: Cannot find type definition file for '@types/underscore'

**line 33**: `  import { Mongo } from "meteor/mongo";`
**error**: Cannot find module 'meteor/mo

[2017-01-02 13:37] Jakino opened #56 "Error on typings.d.ts"
File typings.d.ts
Error on  line 33: `import { Mongo } from "meteor/mongo";`
Error :  Cannot find module 'meteor/mongo'

Tested on Atom and Visual Studio Code with a fresh install

[2017-01-03 12:52] kamilkisiela commented on #50
`files` doesn't cooperate with `exclude`.

If we will use `exclude` it will look up for all `*.ts` files excluding these specified.
With `files` we provide files directly.

I will fix it in couple of minutes.

[2017-01-03 12:56] #50 closed

[2017-01-23 03:05] Urigo commented on #54
@Jakino can you open on a new issue?

[2017-01-23 09:55] Jakino commented on #54
https://github.com/Urigo/angular2-meteor-base/issues/56

[2017-02-11 04:38] ghybs commented on #56
Hi,

Have you tried to install the latest Meteor typings definition available on the registry through `typings`, instead of `npm`'s `@types/meteor`?

The latter correctly provides definitions for global variables, while the former also defines the namespaces that are referenced by the `import` statements.

See: https://github.com/meteor-typings/meteor

[code]

Hope this helps.

[2017-02-28 15:55] adrprado commented on #56
@ghybs, if typings definitions are required in a project, why the `typings` directory is included in the _.gitignore_ file?

[2017-03-01 15:04] ghybs commented on #56
Hi @adrprado,

`typings` directory is similar to `node_modules`: it is automatically generated by `typings install` command, based on the `typings.json` project file. Therefore there is no need to commit that folder.

However there is currently no such `typings.json` configuration file in this angular2-meteor boilerplate.

If this solution proves to be working for enough people, then it might be i

[2017-03-03 08:47] nick-lehmann opened #59 "Unable to import npm packages using Meteor 1.4.3.1"
Described in an [issue](https://github.com/meteor/meteor/issues/8447) on the main Meteor repo

[2017-03-12 20:56] ghybs commented on #56
Hi,

Here is a more elegant fix:
1. Add `meteor-typings` npm package: `$ meteor npm install --save-dev meteor-typings`
2. Replace the `@types/meteor` reference in `typings.d.ts` by `meteor-typings`: `/// <reference types="meteor-typings" />`

Now the declaration files (which include the necessary `meteor` namespaces) are directly fetched from npm instead of using typings registry and CLI.

Hope th

[2017-04-23 20:38] MartiniHenry1988 opened #60 "Meteor.users() is not availabe in canActivate()"
I am trying to redirect user to different routes by different scenarios saved in his profile. So for that I need a very rich AuthGaurd on my routes. All I have in canActivate is Meteor.userId(), which is not enough for me. So is there any work around to access complete Meteor.users() subscription in canActivate()?

[2017-04-25 21:10] mo2menelzeiny opened #61 "dispatch:mocha-phantomjs package is now unmaintained"
while updating the package I encountered an error which lead me to their GitHub repo, which was moved to the maintained package dispatch:mocha on the following repo https://github.com/DispatchMe/meteor-mocha, consider updating the Meteor package in the dependencies.

[2017-06-11 13:08] #55 closed

[2017-08-04 16:47] bouchepat opened #62 "Concerns regarding high CPU/memory"
Hello,

I've been developing an app with meteor/angular 2 for few months now and noticed the Node CPU/memory are pretty high (CPU: ~75%, memory ~850MB).
I downloaded this boiler app and noticed an average CPU ~30% and memory ~825MB.
A basic meteor app average CPU ~%10.
All tests run on the same machine (Windows 10x64).
This is concerning to me and was wondering what should be an average for a larg

[2017-10-25 14:03] RSginer opened #64 "Upgrade to angular 5"

[2017-10-31 14:30] louiealmeda opened #65 "What generator to use to create modules"
I tried using angular cli to create a component and it is not compatible with the file structure here. And is generating a different way of testing.
What cli should I use on generating components for this project?

Thanks

[2017-10-31 15:02] darkbasic commented on #65
We're already working on an updated angular2-meteor-base, it will get released with sample tests.

[2017-10-31 17:43] Urigo commented on #51
@kildareflare we've updated the `angular-meteor-base` repository and got many more example apps here: https://github.com/Urigo/angular-meteor/tree/master/examples

We are also updating the Meteor CLI tutorial to follow all the new changes.

We've done a lot of updates in the last month.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-

[2017-10-31 17:43] #51 closed

[2017-10-31 17:44] Urigo commented on #56
We've updated the repo to the latest and greatest.

We've done a lot of updates in the last month.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bu

[2017-10-31 17:44] #56 closed

[2017-10-31 17:45] Urigo commented on #59
We've updated the repo to the latest and greatest - everything should work now.

We've done a lot of updates in the last month.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's

[2017-10-31 17:45] #59 closed

[2017-10-31 17:46] Urigo commented on #60
@MartiniHenry1988 do you want to get access to the whole Meteor.users on the client?
not sure it is very safe.
Maybe you can create an example repo with what you want to achieve?

Thanks

[2017-10-31 17:50] Urigo commented on #62
Hi @bouchepat
A lot has changed that is suppose to help.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot

[2017-10-31 17:50] #62 closed

[2017-10-31 17:50] Urigo commented on #64
Done!

[2017-10-31 17:50] #64 closed

[2017-10-31 17:52] Urigo commented on #64
you can just update this repo or check out the example here - https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI/universal

[2017-10-31 17:57] ardatan commented on #61
I am not sure about your issue, but dispatch:mocha-phantomjs has old versions of dependencies, so you need to update your test drivers to ardatan:mocha.
You can look at the example below;
https://github.com/Urigo/angular-meteor/tree/master/tests/angular-compilers-tests
If the issue isn't solved, you can open a new issue.

[2017-10-31 17:58] #61 closed

[2017-10-31 18:00] Urigo commented on #65
@louiealmeda that depends if you want to use the Angular CLI or the Meteor CLI.

Meteor CLI doesn't have the capability currently to generate components, so if you prefer to use the Angular CLI, check out the example app here: https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor

I'm not sure if generating component is such an important feature but I can understand the ne

[2017-11-20 17:43] mjwheatley opened #67 "meteor run --production stops working after adding ngx-translate module"
Not sure if this is a Meteor issue or an ngx-translate issue.

After adding the TranslateModule to the imports in app.module.ts the application no longer runs in production mode.

Please reference issue created on ngx-translate repo for steps to reproduce:
https://github.com/ngx-translate/core/issues/724

[2017-11-21 23:47] mjwheatley commented on #67
Same issue as https://github.com/Urigo/angular-meteor/issues/1755

[2017-11-21 23:50] #67 closed

[2017-11-22 18:54] GuofuHuang opened #68 "Test config"
The documentation says it has test configuration, but it is not, need to be solved.

[2017-11-25 20:42] papinaser opened #69 "meteor 1.6 not working"
Hi
I'm using your template with angular 4 and meteor 1.6 but it doesn't work for me.
When I run meteor command, project is compile well and is ready to browse http://localhost:3000,
but when I browse it my page is crash and I don't see any thing, I try to solve my problem and I found that when main.html is process and reaches to <app></app> tag The Application is crash.
please help me.

[2017-11-27 16:44] papinaser commented on #69
Hi. please help me, my problem is that when I use angular 4 in my meteor application the application hangs or freezes.
please help me.

[2017-11-27 18:48] ardatan commented on #68
I've added tests, you can check it out now.

[2017-11-27 18:48] #68 closed

[2017-11-27 18:49] ardatan commented on #69
I think it is the path problem on Windows, we've fixed that issue.
You can check it out new release.

[2017-11-27 18:49] #69 closed

[2017-11-27 18:58] papinaser commented on #69
I search more and find another angular-meteor base project in [https://github.com/Urigo/angular-meteor](url) , I download and use it. it's good and I can use it without any problem.
Thank you.

[2017-11-27 18:59] papinaser commented on #69
I search more and find another angular-meteor base project in https://github.com/Urigo/angular-meteor , I download and use it. it's good and I can use it without any problem.
Thank you.

[2017-11-28 13:21] pedrolucasoliva commented on #60
I start to do that on this way. (This code is not finished yet, but works)
[code]

At Admin module:

[code]

[2017-11-28 15:24] #60 closed

[2017-11-28 17:07] zhuzhiqiang opened #72 "can not run normaly"
yestody is well , but when you update tody, run meteor is correct, but http://localhost:3000 can not load

[2017-11-28 17:08] ardatan commented on #72
Could you give more details? trace, log etc...

[2017-11-28 19:53] GuofuHuang commented on #68
I have tried it, it passes all test, but it shows crash message like this: "Your app is crashing. Here's the latest log", is that normal?

[2017-11-28 21:29] NPColdpage commented on #72
same here, chrome won't load the page and nothing in the console log. no error after run command **meteor**, it even crash my chrome for several time, but the most wired thing is it does work on my cloud centos machine lol. All same version of **angular-meteor-base**.

[2017-11-29 00:01] ardatan commented on #72
Could you give more details? Which OS/Enviroment?

[2017-11-29 00:03] ardatan commented on #68
Mocha package gives that error in watch mode. I am still working on it, but if it passes, it is ok for your code.

[2017-11-29 00:32] NPColdpage commented on #72
my ECS is Ali  in Cloud, centos 7.4 64 bit, it works pretty well, just test it now. And the local one is a windows 10 pro 64bits, it doesn't works. Like zhuzhiqiang said, it cannot load the page for some reason

[2017-11-29 05:37] 1zhuzhiqiang1 commented on #72
mac os is well, but win10 is bad

[2017-11-29 21:49] Gcchao opened #73 "how do i type the correct source path for html to load the image?"
This is stupid, but I am having problem to load local images into my html files. I am using a centos machine, and run it as my server. the images are in the same directory of  the XXX.html, so my **src="XXX.png"**, but it won't load for some reason. When i inspect element, I saw the path is **<IP Address>:3000/XXX.png**, anybody know how to write the correct path.

[2017-11-29 22:00] ardatan commented on #73
You have to copy your static files into public folder. Please check the Meteor documentation;
https://guide.meteor.com/structure.html

[2017-11-29 22:00] #73 closed

[2017-11-29 22:02] ardatan commented on #72
Have you tried to update packages using;
`meteor update --all-packages`

[2017-11-29 22:15] NPColdpage commented on #73
Thank you so much!!!

public

All files inside a top-level directory called public/ are served as-is to the client. When referencing these assets, do not include public/ in the URL, write the URL as if they were all in the top level. For example, reference public/bg.png as <img src='/.png' />. This is the best place for favicon.ico, robots.txt, and similar files.

[2017-11-29 22:20] ardatan commented on #73
You're welcome, this is what public for 👍

[2017-11-29 22:36] NPColdpage commented on #72
it works **meteor update --all-packages**

[2017-11-29 23:04] #72 closed

[2017-11-30 15:03] GuofuHuang opened #74 "Can't import html file"
In this version, I find out that it can't import html files as it used to be, what package is needed to achieve that?

[2017-11-30 15:04] GuofuHuang commented on #74
In the previous version, I can do this:
import template from './example.html';

but now it can't

[2017-11-30 17:17] NPColdpage commented on #74
For your example.component.ts,  **templateUrl: 'example.html',** without slash, do you import in the app.module.ts ?

[2017-11-30 17:51] GuofuHuang commented on #74
Yes, I just wander how can I import the html file as a string like it used to be. I'm OK with the templateUrl method, but would prefer the way I did before.

[2017-11-30 18:02] Gcchao commented on #74
try to import file from **public** folder ?

[2017-12-01 20:23] ardatan commented on #74
Importing html is not legal way to get html as string, so it was removed. If you still want to import html, you can move it to public folder , then fetch it by using XHR/AJAX.

[2017-12-01 20:23] ardatan commented on #74
Issue will be closed

[2017-12-01 20:23] #74 closed

[2017-12-01 23:05] Gcchao opened #76 "error for build"
I am trying to build the package for server

**# for example if deploying to a Ubuntu linux server:
npm install --production
meteor build /path/to/build --architecture os.linux.x86_64**

but it have error

Errors prevented bundling:
While processing files with angular-compilers (for target web.browser):
C:\Users\chao.geng\AppData\Local\.meteor\packages\angular-compilers\0.2.9_2\plugin.Angular_Comp

[2017-12-04 21:50] GuofuHuang opened #80 "Cannot set base providers because it has already been called"
When I try to setup the test environment like this:

    TestBed.initTestEnvironment(
      BrowserDynamicTestingModule,
      platformBrowserDynamicTesting()
    );
it gives me the error:
Cannot set base providers because it has already been called

any ideas to solve it?

[2017-12-04 22:42] #80 closed

[2017-12-06 02:56] ardatan commented on #76
Do you have that file on the path;
C:/Users/chao.geng/Desktop/website/csbiochina/client/imports/app/todo-list/todo-list.scss

[2017-12-06 23:16] NPColdpage commented on #76
Yes, for some reason, I can successfully build the tar file from my Linux machine, but for my windows, it doesn't work

[2017-12-10 21:04] mbtechnologyil opened #87 "Max call stack exceed"
my browser is getting stuck then after few seconds getting "stack exceed"
all i did is:
1 . Clone repository
2. npm install
3. npm run start

No errors on CLI

[2017-12-16 09:09] maxfriedmann commented on #87
Are you on windows by any chance? See https://github.com/Urigo/angular-meteor/issues/1749#issuecomment-347235040

[2018-01-11 09:33] StephaneRavet opened #95 ""ReferenceError: Can't find variable: Zone" when run test"
Hello,

When I run "test" or "test:ci"

Here is the output :

[[[[[ Tests ]]]]]

=> Started proxy.
[client]: ES2015 modules Compilation: 2601.268ms
[client]: TypeScript Files Compilation: 17.842ms
[client]: SCSS Files Compilation: 149.317ms  |
[client]: HTML Files Compilation: 17.794ms   /
[server]: ES2015 modules Compilation: 305.214ms
[server]: TypeScript Files Compilation: 1.952ms
[server]: SCS

[2018-01-11 09:48] StephaneRavet commented on #95
Ok, the problem comes from my repo.
When i clone the base project, it works.
Sorry.

[2018-01-11 09:51] #95 closed

[2018-01-11 10:26] Slavrix commented on #76
C:/Users/chao.geng/Desktop/website/csbiochina/C:/Users/chao.geng/Desktop/website/csbiochina/client/imports/app/todo-list/todo-list.scss

as can be seen in this line, the file doesn't exist as for some reason on windows it is adding the first section of the path twice.

styleUrls: ['./todo-list.scss'] im assuming your using a line like this in the component.

[2018-01-16 07:50] nhhockeyplayer opened #97 "readme documents build command... but no build command exists in package.json"
readme documents build command... but no build command exists in package.json

to what extent is new interest to determine what does what

any attempts to build using angular-cli fail

how to build
cannot build
product also hangs on meteor run

[2018-01-17 10:54] nhhockeyplayer commented on #97
build output from command shell as administrator

C:\apache-tomcat-9.0.0.M17\webapps\ROOT\git\meteor\angular-meteor-base>meteor npm i
npm ERR! path C:\apache-tomcat-9.0.0.M17\webapps\ROOT\git\meteor\angular-meteor-base\node_modules\fsevents\node_modules
npm ERR! code EPERM
npm ERR! errno -4048
npm ERR! syscall scandir
npm ERR! Error: EPERM: operation not permitted, scandir 'C:\apache-tomcat-9.0.0.

[2018-01-17 11:12] nhhockeyplayer commented on #97
Ok got as far as bootstrap process...

C:\apache-tomcat-9.0.0.M17\webapps\ROOT\git\meteor\angular-meteor-base>meteor
[[[[[ C:\apache-tomcat-9.0.0.M17\webapps\ROOT\git\meteor\angular-meteor-base ]]]]]

=> Started proxy.
=> A patch (Meteor 1.6.0.1) for your current release is available!
   Update this project now with 'meteor update --patch'.
=> Started MongoDB.
[client]: ES2015 modules Compilation:

[2018-01-17 11:16] nhhockeyplayer commented on #97
first attempt to navigate localhost:3000

produced console log msgs

{ Error: EPERM: operation not permitted, unlink 'C:\Users\owner\AppData\Local\Temp\mt-1fqpys9.8meu\npm\node_modules\ajv'
  errno: -4048,
  code: 'EPERM',
  syscall: 'unlink',
  path: 'C:\\Users\\owner\\AppData\\Local\\Temp\\mt-1fqpys9.8meu\\npm\\node_modules\\ajv' }
{ Error: EPERM: operation not permitted, unlink 'C:\Users\owner\

[2018-01-17 11:21] nhhockeyplayer commented on #97
I dont understand why

https://www.meteor.com/tutorials/angular/templates

refers to angular 1 KIND module code

?

[2018-01-17 11:58] nhhockeyplayer commented on #97
unable to run app
refuses to launch from localhost:3000

using windows 7

this is console output

C:\apache-tomcat-9.0.0.M17\webapps\ROOT\git\meteor\angular-meteor-base>meteor
[[[[[ C:\apache-tomcat-9.0.0.M17\webapps\ROOT\git\meteor\angular-meteor-base ]]]]]

=> Started proxy.
[client]: ES2015 modules Compilation: 138306.225ms
[client]: TypeScript Files Compilation: 35.490ms
[server]: ES2015 modul

[2018-01-17 12:13] nhhockeyplayer commented on #97
regardless, I am unable to rectify these issues not knowing WHAT canned npm build commands are built into this meteor product when they are not even runnable as the readme states

at this point its guesswork

and I need to rework this app to get is resolved

cannot do without build commands

this is the issue...
npm is wrapped
angular-cli is wrapped
and we are limited to what meteor defines under

[2018-01-17 12:25] nhhockeyplayer commented on #97
well the meteor create --example blahblah
command isnt ready for usage

it just says clone whatever and go with whats on github

i have commercial clients interested in using this object broker
and would like to take advantage angular5

can this be tightened up and resolved so field ops can proceed?

for angular2-5
currently there is
   o   no build support
   o   no create example project support

[2018-01-17 12:29] nhhockeyplayer commented on #97
you have a nice framework...
I was impressed with the language theory... stateful pub/sub
but this has been out for few years now and rightfully should be air tight at this point

my advice

leave the a1 legacy in the dust and get the a5 on deck air tight...first... so the field can proceed
make a5 the default for project for template for everything
and win

advice please on any solution or update

[2018-01-17 12:42] nhhockeyplayer opened #98 "archetype project/app generator incomplete"
using meteor-1.6.0.1

when generating a app/project (using meteor archetype)

meteor create myapp

the package.json has no build commands centric to meteor
yet meteor wraps npm and angular-cli ?
we are left guessing what will work with meteor

these newly generated apps should be thoroughly cultivated with all sorts of npm build commands that meteor will accept

apps currently not runnable as of y

[2018-01-17 12:43] nhhockeyplayer opened #99 "meteor has no --version option"
meteor has no --version option

we are unable to know quickly what version we are using from command prompt

[2018-02-08 19:41] gjr-qm opened #101 "build fails for architecture os.linux.x86_64 on windows"
Also mentioned in issue #76

Running the application gives no errors, but when you try to build it with
`meteor build <outdir> --server-only --architecture os.linux.x86_64`  you get errors like:

File to read not found or unreadable: C:/test/angular-meteor-base/C:/test/angular-meteor-base/client/imports/app/todo-list/todo-list.scss

The process eventually finishes, but there's no styles in the tar

[2018-03-08 12:47] pedrolucasoliva commented on #101
I have the same issue here. Did you found some solution?
Seems like NODE-SASS problem.
Same problem eather on build at  "tabula rasa" repo clone:

`{ Error: File to read not found or unreadable: D:/Programação/angular-meteor-base/D:/Programação/angular-meteor-base/client/imports/app/todo-list/todo-list.scss
    at Object.module.exports.renderSync (C:\Users\pedro\AppData\Local\.meteor\packages\angu

[2018-03-08 13:05] gjr-qm commented on #101
No solution for me yet. I attempted to fix it in the source code, but I didn't have enough time for that.

At the moment I do my builds/deployments from a Linux container. Would be very nice if this bug gets fixed. I think it can't be much work for someone with knowledge of the source code.

Maybe later I can try to fix this myself if I have some more time. Is there some info out there that could

[2018-04-10 23:12] HectorRPL opened #106 "error rangeerror: maximum call stack size exceeded"
I do git clone to [Angular2-Meteor - Socially](https://angular-meteor.com/tutorials/socially/angular2/bootstrap)
when type `meteor` In the server console sendme this message:

[code]

It seem that is everything is ok.

but the google crhome console sendme this menssage.
[code]

Friends, some ideas?

[2018-04-20 12:29] JanvanCasteren opened #107 "some imports missing when building with --production"
I have build a meteor-angular application based on https://github.com/Urigo/angular-meteor-base

It uses [ngx-md](https://www.npmjs.com/package/ngx-md), a Markdown module for angular. This module is dependent on [Marked](https://www.npmjs.com/package/marked), another npm module.

When I build my project in develop modus (the 'meteor' command) everythings runs fine. When I build with production fla

[2018-04-26 14:11] pedrofg commented on #101
Same error here.

[2018-06-02 17:31] fidelsam1992 commented on #76
It was solved with me upgrading the versions of those packages :
in the versions file
angular-compilers@0.2.9_2
angular-html-compiler@0.2.9
angular-scss-compiler@0.2.9
angular-typescript-compiler@0.2.9_5

[2018-06-02 17:31] fidelsam1992 commented on #101
It was solved with me upgrading the versions of those packages :
in the versions file
angular-compilers@0.2.9_2
angular-html-compiler@0.2.9
angular-scss-compiler@0.2.9
angular-typescript-compiler@0.2.9_5

[2018-06-07 18:39] GuofuHuang opened #114 "npm test error"
When I try to run "npm test", it shows an error: "cannot find module 'module'". I believe it works before, but not now. It's probably some module got updated and not compatible with this repository.
Please fix this bug. Thanks

[2018-06-14 15:29] GuofuHuang opened #116 "Error: meteor run --production"
When I try to run this command: meteor run --production, it shows me this error

 _Cannot read property 'moduleType' of undefined_

any idea to solve this?

[2018-06-14 15:30] GuofuHuang commented on #107
I think I get a similar error, have you solved it?

[2018-07-13 16:38] #76 closed

[2018-07-13 16:38] ardatan commented on #116
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:38] #116 closed

[2018-07-13 16:39] ardatan commented on #114
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:39] #114 closed

[2018-07-13 16:39] ardatan commented on #107
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:39] #107 closed

[2018-07-13 16:39] ardatan commented on #106
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:39] #106 closed

[2018-07-13 16:39] ardatan commented on #101
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:39] #101 closed

[2018-07-13 16:39] ardatan commented on #99
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:39] #99 closed

[2018-07-13 16:39] ardatan commented on #98
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:39] #98 closed

[2018-07-13 16:40] ardatan commented on #97
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:40] #97 closed

[2018-07-13 16:40] ardatan commented on #87
Thank you for contributing!
Boilerplate has been updated, if you have still the same error please feel free to open a new issue.

[2018-07-13 16:40] #87 closed

[2018-08-21 12:40] XzenTorXz opened #125 "page crashes on access"
steps to reproduce:
- clone the repo
- run `meteor npm install`
- run `meteor`
  - the app is crashing because the babel package is missing. so ` meteor npm install --save babel-runtime`
- if you now access the page with a browser, the browser will crash (tested chrome and edge)

chrome shows following error:

`ERROR RangeError: Maximum call stack size exceeded
    at callWithDebugContext (modules

[2018-08-21 12:41] XzenTorXz opened #126 "npm scripts do not exists"
most of the npm scripts that are listed in the readme do not exist

[2018-08-21 12:43] XzenTorXz opened #127 "meteor create command only links to a diffrent command"
the meteor create command only hints to the git clone command, so it doesn't do anything.

`meteor create --example angular2-boilerplate`

results in:

[code]

[2018-09-05 17:06] GuofuHuang opened #128 "Need add lazy load"
I have just tested the latest version, it seems it doesn't support the lazy loading when deploying. Can you add that ability?

[2018-11-30 00:46] georgyberdyshev commented on #125
Hi @XzenTorXz,

this is fixed in #131

Georgy

[2018-11-30 00:46] #125 closed

[2019-02-13 15:31] cope opened #142 "renaming client/imports folder"
I am trying to find where it is specified taht the client/imports folder must exist.

I was able to move everything from client/imports/app/ folder one level up into client/imports/

I was also able to change whatever I wanted within the client/imports/ folder and things still worked

But as soon as I rename the imports folder, everything breaks.

I would like to be able to organize my files under

[2019-04-10 06:41] hassan-kassim commented on #80
Hi GuofuHuang,

i face this same issue can you let me know how u fix this issue!!!